{% extends 'baseseries.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}



 <div class="row">
                  <hr>
                   {% for newSeriess in newSeries %}
                <div class="col-sm-3 auto">
                   <div style="" >
                     <img src="{{ newSeriess.seriesImages.url }}" alt="Series" alt="Series" class="testImage responsive" style="width:230px; height:300px;">
                     <br>
                     <a href="{% url 'seriesDetail' pk=newSeriess.pk %}" style="color:#fff; font-size: 12px;">
                         {{ newSeriess.title }} 
                     </a>            
                     <br>             
                     <a class="card-text" style="color: grey; font-size: 12px;">{{ newSeriess.genre }}</a> 
                     <p class="card-text" style="color: grey; font-size: 12px;" >{{ newSeriess.publishedDate }}</p> 
                     <!-- <a class="btn btn-danger">Watch Trailer</a>
                     <a class="btn btn-danger">Decoder</a> -->
                   </div>
                   <br>
                 </div>  
                 {% endfor %}
                   
</div>


{% endblock  %}