{% extends 'base.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}
<body id="page-top" >

  <!-- Page Wrapper -->
  <div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#6efdfd;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">XTREME</div>
        </a>
  
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboardPage' %}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
             
          </li>
    
          <!-- Divider -->
         
    
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            
              <span>NEW MOVIE | TV SHOWS</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" href="{% url 'dashboardPage' %}">Series List</a>
              </div>
            </div>
          </li>
    
    
          <!-- Divider -->
         
    
        
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Action" aria-expanded="true" aria-controls="collapsePages">
              
              <span>ACTION</span>
            </a>
            <div id="Action" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 ">
               
                <a class="collapse-item" href="#">ACTION</a>
                
              </div>
            </div>
          </li>
  
            <!-- Divider -->
           
    
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Drama" aria-expanded="true" aria-controls="collapsePages">
                
                <span>DRAMA</span>
              </a>
              <div id="Drama" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                 
                  <a class="collapse-item" href="#">DRAMA</a>
                  
                </div>
              </div>
            </li>
  
  
           
    
            
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Comedy" aria-expanded="true" aria-controls="collapsePages">
                
                <span>COMEDY</span>
              </a>
              <div id="Comedy" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                
                  <a class="collapse-item" href="#">COMEDY</a>
                  
                </div>
              </div>
            </li>
  
  
  
  
           
    
            
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Horror" aria-expanded="true" aria-controls="collapsePages">
                
                <span>HORROR</span>
              </a>
              <div id="Horror" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
               
                  <a class="collapse-item" href="#">HORROR</a>
                  
                </div>
              </div>
            </li>
  
  
  
  
           
    
            
      
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Animation" aria-expanded="true" aria-controls="collapsePages">
                
                <span>ANIMATION</span>
              </a>
              <div id="Animation" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                 
                  <a class="collapse-item" href="#">ANIMATION</a>
                  
                </div>
              </div>
            </li>
  
  
  
  
           
    
  
  
  
           
    
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Classic" aria-expanded="true" aria-controls="collapsePages">
                
                <span>CLASSIC</span>
              </a>
              <div id="Classic" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                 
                  <a class="collapse-item" href="#">Series</a>
                  
                </div>
              </div>
            </li>
  
  
            <hr style="border: 1px dashed black;" >
           
  
            <div style="padding-top:100px;"></div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#MostViewed" aria-expanded="true" aria-controls="collapsePages">
                  
                  <span>Most Viewed</span>
                </a>
                <div id="MostViewed" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                   
                    
                    <a class="collapse-item" href="#">Most Viewed</a>
                  </div>
                </div>
              </li>
  
  
              <li class="nav-item">
                  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Artist" aria-expanded="true" aria-controls="collapsePages">
                    
                    <span>Artist of the month</span>
                  </a>
                  <div id="Artist" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                      
                      <a class="collapse-item" href="#">Artist</a>
                    </div>
                  </div>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#GenreList" aria-expanded="true" aria-controls="collapsePages">
                      
                      <span>Genre of the Movie</span>
                    </a>
                    <div id="GenreList" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                      <div class="bg-white py-2 collapse-inner rounded">
                       
                        <a class="collapse-item" href="#">Genre</a>
                      </div>
                    </div>
                  </li>
    
  
          <!-- Divider -->
         
    
         
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="true" aria-controls="collapsePages">
              
              <span>Accounts</span>
            </a>
            <div id="collapseAccount" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Account Screens:</h6>
                <a class="collapse-item" href="{% url 'my_account' %}">Account</a>
                <a class="collapse-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </div>
          </li>
    
  
          
      
            
      
           
      
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar  topbar mb-4 static-top shadow" style="background-color:#1c0238;">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
             
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
                <div class="img-profile rounded-circle">{{user.profileImages}}</div>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <div class="container">

               
              
            <div class="row">
    
            </div>
        </div>
        <div class="container">
            
            <div class="">
                
            {% if newSeries.title %}
              
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="907" height="410" src="https://www.youtube.com/embed/xjDjIWPwcPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <!-- <img class="card-img-top" src="{{ newSeries.seriesImages.url }}" alt="Series"  style="width:230px; height:300px;"> -->
              <!-- <div style="margin-top:-50px">
                  <p>kkkk</p>
                 </div> -->
              <br>
              <a class="card-title" style="color:#fff; font-size:12px;">{{newSeries.title}}</a>
              <br>
              <p class="card-text" style="color: grey; font-size:12px;">{{newSeries.description}}</a> 
              <a class="card-text" style="color: grey; font-size:12px;">{{newSeries.genre}}</a> 
             
              <p class="card-text" style="color: grey; font-size:12px;">{{newSeries.publishedDate}}</p>
              
             <br>

            

              <div >
              
              
              <img src="{{ newSeries.seriesImages.url }}" class="rounded-circle"  width="100px;" height="100px;">
              <h5 class="text-left" style="color:#fff;">Directed By</h5>
              
              </div>
              
              <div >
              
            
              <img src="{{ newSeries.seriesImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
              <img src="{{ newSeries.seriesImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
              <img src="{{ newSeries.seriesImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
              <img src="{{ newSeries.seriesImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
              <div style="padding-bottom:25px;"></div>
              
              <h5 class="text-left"style="color:#fff;">Cast</h5>
              </div>
            {% endif %}


            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{newSeries.title}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                {% if newSeries.title %}
                  <li syle="padding-top: 20px; padding-bottom:20px;" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{newSeries.episodes}}</a></li>
                  <br>
                 
                 
                {% endif %}
                </ul>
              </div>
              
          </div>


         

              
            <!-- <button id="paypal">PayPal</button> -->
            </div>
            <div class="container">
                <div class="row" style="color: #fff">
                    
                    <div style="padding-top:20px;">
                        1. Episode watching the new episode     
                        
                    </div>
                    <p style="margin-top:-2%;padding-left:80%;"> <i   class="fa fa-play-circle-o" style="font-size:28px;color:black"></i> 
                      <a class="btn btn-primary">Watch Decoder</a>
                    </p> 
                </div>
            </div>
            <div class="text-center">
                <!-- <a class="btn btn-primary" >Watch Trailer</a> -->
                <br>
                <br>
                
            </div>
            <br>
            
            
    </div>
        

        


        <div class="container-fluid">

            <!-- Page Heading -->
           
            
            
  
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <footer class="sticky-footer" style="background-color:black;">
      <div class="container my-auto">
        
        <div class="copyright text-center my-auto">
          <img src="{% static 'img/footer.png' %}" width="80px" height="80px">
          <span>Copyright &copy; Show Time 2019</span>
        </div>
      </div>
    </footer>
{% endblock %}
