body {
  background-image: url(../img/round.png);
}

.logo {
  font-famnily: "Peralta", cursive;
}
/* aa */
.logo a {
  color: rgba(0, 0, 0, 0.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}


