{% extends 'basemovies.html' %}

{% load static %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content  %}

{% comment %} <div class="text-right"> {% endcomment %}
<div >
                  <form method="get">
              <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.stock_id.label_tag }}
          {% render_field filter.form.title class="form-control" %}
          <button class="btn btn-primary" type="submit">Search</button>
          
    </div>
  </form>
                   
</div>

<div class="col-sm-12">
<hr style="border: 1px dashed white;" >
 <div class="row">
                  <hr>
                  
                   {% comment %} {% for newMoviess in newMovies %} {% endcomment %}
                   {% for newMoviess in filter.qs %}
                   <div class="col-sm-3 auto">
                      <div style="" >
                        <img src="{{ newMoviess.movieImages.url }}" alt="Series" alt="Series" class="testImage" style="width:230px; height:300px;">
                        <br>
                        <a href="{% url 'moviesDetail' pk=newMoviess.pk %}" style="color:#fff; font-size: 12px;">
                            {{ newMoviess.title }} 
                        </a>            
                        <br>             
                        <a class="card-text" style="color: grey; font-size: 12px;">{{ newMoviess.genre }}</a> 
                        <p class="card-text" style="color: grey; font-size: 12px;" >{{ newMoviess.publishedDate }}</p> 
                        <!-- <a class="btn btn-danger">Watch Trailer</a>
                        <a class="btn btn-danger">Decoder</a> -->
                      </div>
                      <br>
                    </div>  
                    {% endfor %}
       </div>            
</div>


{% endblock  %}