{% extends 'basemovies.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}

<div class="text-right">
                    <form action="#">
                     <input type="text" class="form-control" id="usr" placeholder="Search.."  style="background-color:#1c0238; color:#fff; width:40%; float:right;">
                      {% comment %} <input type="text" placeholder="Search.." name="search" style="background-color:#1c0238; color:#fff; .search-container {
                        float: right;"> {% endcomment %}
                       
                    <button class="btn btn-primary" type="submit">Search</button>
                   
                    </form>
                   
</div>

<div class="col-sm-12">
<hr style="border: 1px dashed white;" >
 <div class="row">
                  <hr>
                  
                   {% comment %} {% for newMoviess in newMovies %} {% endcomment %}
                   {% for newMoviess in filter.qs %}
                   <div class="col-sm-3 auto">
                      <div style="" >
                        <img src="{{ newMoviess.movieImages.url }}" alt="Series" alt="Series" class="testImage" style="width:230px; height:300px;">
                        <br>
                        <a href="{% url 'moviesDetail' pk=newMoviess.pk %}" style="color:#fff; font-size: 12px;">
                            {{ newMoviess.title }} 
                        </a>            
                        <br>             
                        <a class="card-text" style="color: grey; font-size: 12px;">{{ newMoviess.genre }}</a> 
                        <p class="card-text" style="color: grey; font-size: 12px;" >{{ newMoviess.publishedDate }}</p> 
                        <!-- <a class="btn btn-danger">Watch Trailer</a>
                        <a class="btn btn-danger">Decoder</a> -->
                      </div>
                      <br>
                    </div>  
                    {% endfor %}
       </div>            
</div>


{% endblock  %}