{% extends 'basemovies.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}


<div class= "container">
 <div >
                 
                  
                 {% if newMovies.title %}

                <div class ="row">

                 <div class="col-md-4">
                <img class="card-img-top" src="{{ newMovies.movieImages.url }}" alt="Movies"  style="width:230px; height:300px;">
              
                  <br>
                  <a class="card-title" style="color:#fff; font-size:12px;">{{newMovies.title}}</a>
                  <br>
                
                  <a class="card-text" style="color: grey; font-size:12px;">{{newMovies.genre}}</a> 
                  <!-- <a class="card-text" style="color: grey; font-size:12px;">{{newMovies.description}}</a>        -->
                  <p class="card-text" style="color: grey; font-size:12px;">{{newMovies.publishedDate}}</p>
                 </div>

                <div class="col-md-7">
                    {% comment %} <div style="padding-left:30%;"> {% endcomment %}
                
                <p style="color:white;">Description</p>
                <p style="color:#fff; font-size:12px;">{{newMovies.description}}</p>

               </div>
                </div>
                </div>

            


               

               
               <div class="row">
               <div class="col-md-5">
                 
                  
                 <br>
    
                
    
                  <div >
                      <h5 class="text-left" style="color:#fff;">Directed By
                          <hr class="text-left" style="margin-left:-1px;width:10%">
                      </h5>
                      
                  
                  <img src="{{ newMovies.movieImages.url }}" class="rounded-circle"  width="100px;" height="100px;">
                 
                  
                  </div>
                  
                  <div >
                      <h5 class="text-left"style="color:#fff;">Cast
                          <hr class="text-left" style="margin-left:-1px;width:5%">
                      </h5>
                     
                  <img src="{{ newMovies.movieImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
                  <img src="{{ newMovies.movieImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
                  <img src="{{ newMovies.movieImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
                  <img src="{{ newMovies.movieImages.url }}" class="rounded-circle"  width="80px;" height="80px;">
                  <div style="padding-bottom:25px;"></div>
                 
                  
                  </div>
               </div>
                </div>
            
            {% endif %}
</div>
</div>

{% endblock  %}