{% extends 'baseaccount.html' %}
{% load crispy_forms_tags %}

{% block content %}
 
  <!-- <div class="row"> -->
      <div >
        <div class="col-md-6 col-md-offset-3">
         
                <form  method="post" novalidate>
                        {% csrf_token %}
                        
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">Personal Details</li>
                           
                            <li>Account Setup</li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">Account Details</h2>
                          
                            {{ form.username|as_crispy_field }}
                            {{ form.first_name|as_crispy_field }}
                            {{ form.last_name|as_crispy_field }}
                            {{ form.phonenumber|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.profileImages|as_crispy_field }}
                            <input type="button" name="next" class="next action-button" value="Next"/>
                        </fieldset>
                       
                        <fieldset>
                            <h2 class="fs-title">Create your account</h2>
                            <h3 class="fs-subtitle">Fill in your credentials</h3>
                            {{ form.iucnumber|as_crispy_field }}
                            {{ form.decodertype|as_crispy_field }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                            <input type="button" name="next" class="next action-button" value="Next"/>
                        </fieldset>

                        <fieldset>
                                <h2 class="fs-title">Paypal detail Details</h2>
                               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="YZDZRS6PK8KF6">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>

                                    
                                    
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                            </fieldset>
                    </form>
        </div>
    </div>

{% endblock %}
 <!-- <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    
  </form> -->