{% extends 'basehome.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}

{% comment %} <div class="bg-image">
  <img src="{% static 'img/banner.jpg' %}" width="100%";>
</div> {% endcomment %}


<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      
      <div class="carousel-item active" style="opacity:.2; background-image: url('{% static 'img/banner.jpg' %}">
        {% comment %} <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</header>


{% comment %} <div class="container">
  <div class="row">
      <div class="text-center" style="padding-left:25%;">
      <div class="col-sm-12" >
        <div style="margin-top:-350px; ">
          <img src="https://fontmeme.com/permalink/190124/1fe7ca15465dda1e07f6ea9b5c4faba9.png" alt="netflix-font" border="0">
        </div>
        <p style="color:#fff;">YOUR HOME FOR MOVIES & TV SHOWS. ANYTIME.ANYWHERE</p>
      </div>
      </div>
  </div>
</div> {% endcomment %}



<div class="bg-text" >
      {% comment %} <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/190124/1fe7ca15465dda1e07f6ea9b5c4faba9.png" alt="netflix-font" border="0"></a>
      <p>YOUR HOME FOR MOVIES & TV SHOWS. ANYTIME.ANYWHERE</p> {% endcomment %}

    {% comment %} Test {% endcomment %}

      <div style="">
      <div class="row">
            <div class="col-sm-12" >
            <div class="text-center" >
              <div style="margin-top:-230px; ">
                {% comment %} <img class="responsive" src="https://fontmeme.com/permalink/190124/1fe7ca15465dda1e07f6ea9b5c4faba9.png" alt="netflix-font" border="0"> {% endcomment %}
                <p class="text-center" style="font-size: 550%;color:#d20d04;">XTREME</p>
              </div>
              <p style="color:#fff;">YOUR HOME FOR MOVIES & TV SHOWS. ANYTIME.ANYWHERE</p>
            </div>
            </div>
        </div>
      </div>



{% comment %} end test {% endcomment %}



      {% comment %} test {% endcomment %}

      <div style="padding-left:25%;">
       <div class="row">

                <div class="col-md-4" style=" border-right: 3px solid white;"> 
                  <div class="text-center">
                    <p>First Time ?</p>
                     <div style="padding-left:25px">
                              <div style="background-color:#d20d04; ">
                                  <p class="text-center" style="padding-right:2px;">
                                    SIGN UP 
                                  </p>
  
                                  <p class="text-center">
                                    TO JOIN NOW
                                  </p>
                  </div>
                          </div>
                          <p class="text-center">
                      PLANS FROM 
                      <br>K100 / MONTH
                  </p>
                  </div>
                </div>

               
                  <div class="col-md-4" >
                  <div style="padding-right:20%;">
                    <div class="text-center">
                    <p>Welcome Back</p>
                        <a href="{% url 'login'%}">
                              <button type="button" class="btn" style="color:#fff; background-color:#d20d04;">Login</button>
                          </a>
                          <a href="{% url 'signup'%}">
                              <button type="button" class="btn" style="color:#fff; background-color:#d20d04;">Sign Up</button>
                          </a>
                    </div>
                  </div>
                  </div>

          </div>
          </div>

      {% comment %} end test {% endcomment %}


      <div style="padding-top: 30px;" ></div>


      <div style="padding-left:25%;">

          <div class="row">
         
                  <div class="col-md-3">
                    <div class="text-center">
                      <i class="fa fa-mobile-phone" style="font-size:24px"></i>
                      <i class="fa fa-tablet" style="font-size:36px"></i>
                      <i class="fa fa-laptop" style="font-size:48px;"></i>
                      <p>Select instantly on your mobile device</p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="text-center">
                      <i class="fa fa-tv" style="font-size:36px"></i>
                      <p>T.v shows and movies streamed instantly to your decoder without internet connection
                      </p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="text-center">
                      <i class=" fa fa-times-circle" style="font-size:36px"></i>
                      <p>Cancel anytime</p>
                    </div>   
                  </div>

          </div>

          </div>
</div>

{% endblock %}
