{% extends 'basehome.html' %}

{% load static %}

{% load staticfiles %}

{% block content  %}

<!-- <div class="bg-image" >
    <img src="{% static 'img/banner.jpg' %}" width="100%";>
 </div> -->



  <div class="container">
    <div style="padding-left:20%; padding-top:30px;">
      <div class="row" >
          <div  class="col-md-8">
         
              <div class="card card-default">
                  <div class="card-header" style="background-color:red;">Account</div>
                  <div class="card-body card-6-6">
                   
                      <div style="padding-left: 25%;">
                         
                    
                    <form method="post" novalidate>
                      
                      {% csrf_token %} {% include 'includes/form.html' %}
                     <br>
                    </form>
                  </div>
                  <div class="card-footer text-muted text-center">
                    New to Login <a href="{% url 'signup' %}">Sign up</a>
                  </div>
          
                  <div class="text-center py-2">
                      <small>
                        <a href="#" class="text-muted">Forgot your password?</a>
                      </small>
                    </div>
                          
                      </div>
          
                
                  
                  
                </div>
          </div>
      </div>
      
      
        </div>

    </div>
  
{% endblock %}
